<!DOCTYPE html>
<html>
<head>
    <title>Secure Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <div class="card">
        <h2>Create Account 📝</h2>

        <form method="POST" action="/register" style="box-shadow: none; padding: 0; width: 100%;">
            <label>Username:</label>
            <input type="text" name="username" required>
            
            <label>Password:</label>
            <input type="password" name="password" required>
            
            <button type="submit">Register</button>
        </form>

        <p>Already have an account? <a href="/login">Login here</a></p>
    </div>

</body>
</html>